*{
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}




body{
    background-color: rgb(48, 48, 48);
    display: flex;
display: inline-block;
    
    height: 100vh;
}
form{
    background-color: rgb(77, 76, 76);
    padding: 10px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    height: 210px;
    border-radius: 8px;
    
gap: 4px;
}
form input{
    background-color: #5e5c5c;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
border-radius: 8px;
}
form button{
    background-color: #5e5c5c;
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    flex-basis: 30px;
    flex-grow: 1;
    border-radius: 8px;

}
form button:hover{
    background-color: rgb(25, 25, 26);
}
.title , a, h2{
    color: azure;
    font-size: 45px;
    justify-content: center;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;


    

}


.title{
    background-color: rgb(255, 72, 0);
    height: 100px;
    width: 100vh;
    display: flex;
    justify-items: space-around;
    border-radius: 18px;
    
}
.title:hover{
    background-color: #5e5c5c;
}